
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    min-height: 95vh;
    background-color: rgb(147, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;

}

.work{
    width: 300px;
    height: 590px;
    box-shadow: 4px 4px 30px  rgb(6, 27, 27);
    border-radius: 30px;
    padding: 20px;
}
.put input{
    background-color: rgb(12, 138, 177);
    border-radius: 20px;
    height: 40px;
    width: 80px;
}
input{
    height: 34px;
    width: 260px;
    border-radius: 20px;
}
::placeholder{
    padding: 5px;
}
.up{
    text-align: center;
}
.put{
    text-align: center;
}