
/* header{
  position: absolute;
} */
/* .books{
  padding-left: 90px;
  padding-top: 0px;
  margin-bottom:0px; */

.featured-product-section {
  padding-bottom: 1rem;
  padding-left: 90px;

}

.featured-product-wrap {
  padding-top: 3rem;
}

.featured-products {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: start;
}

.product-wrap {
  margin: 0 0.7rem 2rem 0.6rem;
  position: relative;
  height: 360px;
  width: 260px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0.6rem 0.6rem 1rem #ddd;
  box-shadow: 0.6rem 0.6rem 1rem #ddd;
}

.product-wrap:hover {
  -webkit-box-shadow: 0.6rem 0.6rem 1rem rgb(85, 6, 6);
  box-shadow: 0.6rem 0.6rem 1rem rgb(20, 20, 20);
}

.product-wrap .product-img {
  position: relative;
  width: 100%;
  height: 55%;
  border: 2px solid #fff;
  border-radius: 0.2rem 0.2rem 0.6rem 0.6rem;
}

.product-wrap .product-img::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem 0.2rem 0.8rem 0.8rem;
}

.product-wrap .product-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.2rem 0.2rem 0.8rem 0.8rem;
}

.product-wrap .product-icons {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-icons>.add-to-favorite {
  margin: 1rem 0 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-icons>.add-to-favorite>span {
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.4rem 0.4rem;
  border-radius: 0.2rem;
  background: #61790a;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem #211e25;
  box-shadow: 0.2rem 0.2rem 1rem #211e25;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-icons>.add-to-favorite>span:active {
  -webkit-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
}

.product-icons>p {
  margin: 1rem 1rem 0 0;
  padding: 0.4rem 0.6rem;
  color: #fff;
  font-size: 1.1rem;
  background: -o-linear-gradient(45deg, orangered 20%, red, red);
  background: linear-gradient(45deg, orangered 20%, red, red);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem #211e25;
  box-shadow: 0.2rem 0.2rem 1rem #211e25;
  border-radius: 0.2rem;
  font-family: 'Ubuntu', sans-serif;
}

.product-wrap .product-description {
  margin-top: 0.4rem;
  padding: 0.8rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-wrap .product-description .product-name {
  color: #211e25;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.product-wrap .product-description>.price {
  font-size: 1.1rem;
}

.product-description .price {
  margin-top: 0.6rem;
  text-align: center;
  color: #211e25;
  font-size: 1.2rem;
  font-weight: 600;
}

.product-description .price .f-product-unit {
  display: none;
}

.product-description .add-to-cart-btn {
  margin-top: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.product-description .add-to-cart-btn p {
  color: #fdf9f9;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  border-radius: 0.2rem;
  background: #459122;
}

#pricing.menu-active {
  padding-top: 3.4rem;
}

.icon-cart-plus:hover{
     color: rgb(12, 15, 15);
}